/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-text-color: #353430;
  --shadow-color: #ff0070;
  --corners-color: var(--main-text-color);
  --accent-text-color: var(--main-text-color);
  --button-active-color: var(--main-text-color);
  --button-text-color: var(--main-text-color);
  --content-title-color: var(--main-text-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decor-text {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --shadow-color: #ff0070;
    --corners-color: var(--main-text-color);
    --accent-text-color: var(--main-text-color);
    --button-active-color: var(--main-text-color);
    --button-text-color: var(--main-text-color);
    --content-title-color: var(--main-text-color);
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__decor-text {
    visibility: hidden;
  }
}